<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/base.css}" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Qwigley&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div th:fragment="header">
        <header><h1>Nome Museo</h1></header>
        <div class = "navbar">
            <a href="listaArtisti">I nostri Artisti</a>
            <a href="listaCollezioni">Collezioni</a>
            <a href="listaOpere">Ricerca Opere</a>
            <a href="accessoAmministratore" id = "right">Accedi come amministratore</a>
        </div>
    </div>
</body>

</html>