body{
    font-family: sans-serif;
    margin: 0 auto;
    background-color: beige;
  }
  
  header {
      background-image: url(/images/header.webp);
      height: 75px;
    }
  
  h1{
    text-align: center;
    padding-top: 5px;
    font-size: 70px;
    font-family: 'Qwigley', cursive;
  }

  