body{
    font-family: sans-serif;
    margin: 0 auto;
    background-color: beige;
  }
  
  header {
    background-image: url(/images/header.webp);
    height: 75px;
  }
  
  h1{
    text-align: center;
    padding-top: 5px;
    font-size: 70px;
    font-family: 'Qwigley', cursive;
  }
  
  h2{
    text-align: left;
    font-family: 'Qwigley', cursive;
    font-size: 45px;
    margin-top: 5px;
    margin-bottom: 0px;
  }
  
  .navbar {
    list-style-type: none;
    margin-top: 5px;
    padding: 0;
    overflow: hidden;
    background-color: rgb(240, 240, 238);
  }
  
  .navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    background-color: beige;
  }

  #right{
    float: right;
  }