<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
	<title>Lista Artisti</title>
	<link rel="stylesheet" th:href="@{/css/index.css}" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Qwigley&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <header><h1>Nome Museo</h1></header>
    <form th:action="@{/admin/artista}" method="POST" th:object="${artista}">
        <div th:if="${#fields.hasGlobalErrors()}">
            <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
        </div>		
        <div>
            <div>
                <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
                <span>Nome:</span>
                <span><input type="text" th:field="*{nome}" /></span>
            </div>		
            <div>
                <span th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></span>
                <span>Cognome:</span>
                <span><input type="text" th:field="*{cognome}" /></span>
            </div>
            <div>
                <span th:if="${#fields.hasErrors('dataNascita')}" th:errors="*{dataNascita}"></span>
                <span>Data di nascita:</span>
                <span><input type="date" th:field="*{dataNascita}" /></span>
            </div>
            <div>
                <span th:if="${#fields.hasErrors('luogoNascita')}" th:errors="*{luogoNascita}"></span>
                <span>Luogo di Nascita:</span>
                <span><input type="text" th:field="*{luogoNascita}" /></span>
            </div>
            <div>
                <span th:if="${#fields.hasErrors('nazione')}" th:errors="*{nazione}"></span>
                <span>Nazionalità:</span>
                <span><input type="text" th:field="*{nazione}" /></span>
            </div>
            <div>
                <span><button type="submit">Invio</button></span>
            </div>
        </div>
    </form>
    <footer th:replace="fragments/base.html :: fondo(home='/default')"></footer>
</body>
</html>