<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>ARTISTA</title>
        <link rel="stylesheet" th:href="@{/css/artista.css}" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Qwigley&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div th:if="${artista}" th:object="${artista}">
            <header><h1 th:text = "|${artista.nome} ${artista.cognome}|">Nome artista</h1></header>
            <section id = "left">
                <h2>Informazioni principali:</h2>
                    <p>
                        <strong>Nome:</strong><span th:text="*{nome}">qui-va-nome</span><br>
                        <strong>Cognome:</strong><span th:text="*{cognome}">qui-va-cognome</span><br>
                        <strong>Data di nascita:</strong><span th:text="*{dataNascita}">qui-va-data-nascita</span><br>
                        <strong>Luogo di nascita:</strong><span th:text="*{luogoNascita}">qui-va-luogo-nascita</span><br>
                        <strong>Nazionalità:</strong><span th:text="*{nazione}">qui-va-nazionalità</span><br>
                    </p>
            </section>
            <section id = "right2">
                <h2>Biografia:</h2>
                <p>biografia completa</p>
            </section>
            <section id = "opere">
                <h2>Opere presenti nella galleria</h2>
                <div class = "galleria" th:each="opera : ${opere}">
                    <img th:src="@{/images/{image}(image=${opera.linkFoto})}">
                    <a href = "opera.html"
				   th:href="@{'/opera' + '/' + ${opera.id}}" 
				   th:text="|${opera.titolo}|">Titolo</a>
                </div>
            </section>
        </div>
    	<div th:unless="${artista}">Non esiste</div>
        <footer th:replace="fragments/base.html :: fondo(home='/default')"></footer>
    </body>
</html>