<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>COLLEZIONE</title>
        <link rel="stylesheet" th:href="@{/css/collezione.css}" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Qwigley&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div th:if="${collezione}" th:object="${collezione}">
            <header><h1 th:text="|${collezione.nome} |">Nome Collezione</h1></header>
            <strong>Relatore:</strong><span th:text="|*{curatore.nome} *{curatore.cognome}|">qui-va-nome</span><br>
            
        </div>
        <div th:unless="${collezione}">Non esiste</div>
    </body>