<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
	<title th:text="#{pageTitle.form}"></title>
    <link rel="stylesheet" th:href="@{/css/home.css}" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Qwigley&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
          
  		 <div th:replace="fragments/base.html :: header(home='/default')"></div>
  		 <p>Aggiungi Collezione</p>
    <form th:action="@{/admin/collezione}" method="POST" th:object="${collezione}">
        <table>
            <tr>
                <td th:if="${#fields.hasGlobalErrors()}"></td>
                <td th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</td>
            </tr>
            <tr>
                <td>Titolo:</td>
                <td th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></td>
                <td><input type="text" placeholder="titolo"
                th:field="*{nome}"/></td>
            </tr>
            <tr>
                <td>Descrizione:</td>
                <td th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"></td>
                <td><input type="text" placeholder="descrizione"
                th:field="*{descrizione}"/></td>
            </tr>
            <tr>
                <td>Termine Mostra:</td>
                <td th:if="${#fields.hasErrors('descrizione.termineMostra')}" th:errors="*{descrizione.termineMostra}"></td>
                <td><input type="date" th:field="*{descrizione.termineMostra}"/></td>
            </tr>
            <tr>
                <td>ID curatore:</td>
                <td th:if="${#fields.hasErrors('curatore.id')}" th:errors="*{curatore.id}"></td>
                <td><input type="text" placeholder="id curatore"
                th:field="*{curatore.id}"/></td>
            </tr>
            <tr>
                <td>
                    <button type="submit">Inserisci</button>
                </td>
            </tr>
        </table>
    </form>
    <div>
    	<h2>Lista curatori con identificatore</h2>
		<ul>
			<li th:each="curatore : ${curatori}">
				<p th:text="|${curatore.nome} ${curatore.cognome}: ${curatore.id}|">Nome curatore</p>
			</li>
		</ul>
	</div>
    <footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>