<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${title}"></title>
        <link rel="stylesheet" th:href="@{/css/collezione.css}" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Qwigley&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
    <div th:replace="fragments/base.html :: header(home='/default')"></div>
        <div th:if="${collezione}" th:object="${collezione}">
            <header><h1 th:text="|${collezione.nome} |">Nome Collezione</h1></header>
            <h2>Informazioni principali:</h2>
            <p><strong>Relatore:</strong><span th:text="|*{curatore.nome} *{curatore.cognome}|">qui-va-nome</span><br></p>
            <p><strong>Descrizione:</strong><span th:text="|*{descrizione}|">qui-va-descrizione</span></p>
            <h2>Opere</h2>
            <ul>
                <li th:each="opera : ${opere}">
                    <a href = "opera.html"
                    th:href="@{'/opera' + '/' + ${opera.id}}" 
                    th:text="|${opera.titolo}|">Titolo Opera</a>,
                    <a href = "artista.html"
                    th:href="@{'/artista' + '/' + ${opera.artista.id}}" 
                    th:text="|${opera.artista.nome} ${opera.artista.cognome}|">Nome Autore</a>
                </li>
            </ul>
        </div>
        <div th:unless="${collezione}">Non esiste</div>
        <footer th:replace="fragments/base.html :: fondo"></footer>
    </body>