<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${title}"></title>
        <link rel="stylesheet" th:href="@{/css/home.css}" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Qwigley&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div th:replace="fragments/base.html::header"></div>
        <h2>Le nostre opere più importanti</h2>
        <section>
            <div class="galleria">
                <img src="/images/venere.jpg"/>
                <div class="titolo">Venere di Botticelli</div>
            </div>
            <div class="galleria">
                <img src="/images/adorazione.jpg"/>
                <div class="titolo">Adorazione dei Magi di Botticelli</div>
            </div>
            <div class="galleria">
                <img src="/images/nativita.jpg"/>
                <div class="titolo">Natività mistica di Botticelli</div>
            </div>
        </section>
    </body>
</html>