<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${title}"></title>
        <link rel="stylesheet" th:href="@{/css/index.css}" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Qwigley&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <header><h1>Nome Museo</h1></header>
        <ul>
            <li><a href="listaArtisti">I nostri Artisti</a></li>
            <li><a href="listaCollezioni">Collezioni</a></li>
            <li><a href="listaOpere">Ricerca Opere</a></li>
            <li id = "right"><a href="accessoAmministratore">Accedi come amministratore</a></li>
        </ul>
        <h2>Le nostre opere più importanti</h2>
        <section>

        </section>
    </body>
</html>