<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
	<title>Lista Collezioni</title>
	<link rel="stylesheet" th:href="@{/css/lista.css}" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Qwigley&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div th:replace="fragments/base.html::header"></div>
	<div>
    	<h2>Lista collezioni</h2>
		<ul>
			<li th:each="collezione : ${collezioni}">
				<a href="collezione.html" 
				   th:href="@{'/collezione' + '/' + ${collezione.id}}" 
				   th:text="|${collezione.nome}|">Nome Collezione</a>
			</li>
		</ul>
	</div>
	<div>
		<a href="addCollezione">Aggiungi Collezione</a>
	</div>
	<footer></footer>
</body>