<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
	<title th:text="#{pageTitle.lista}"></title>
	<link rel="stylesheet" th:href="@{/css/listaOpere.css}" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Qwigley&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <header th:replace="fragments/base.html::header(home='/default')"></header>
	<div>
    	<span id="lista">Opere</span>
		<ul>
			<li th:each="opera : ${opere}">
				<a href = "opera.html"
				   th:href="@{'/opera' + '/' + ${opera.id}}" 
				   th:text="|${opera.titolo}|">Titolo</a>
			</li>
		</ul>
	</div>
	<footer th:replace="fragments/base.html :: fondo"></footer>
</body>