<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{pageTitle.login}"></title>
        <link rel="stylesheet" th:href="@{/css/index.css}" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Qwigley&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <nav class="top">
       	<img src="images/SoloMuseo.png"/></img>
    	<h1> Museo SIW </h1> 
  		<h4> Di Nepi-Baroni</h4>
  		</nav>
        <section>
            <div>
                <p>Accedi</p>
            </div>
            <form th:action="@{/login}" method="POST">
                <table>
                    <tr>
                        <td>Username</td>
                        <td><input type="text" placeholder="username" name="username"></td>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td><input type="password" placeholder="password" name="password"></td>
                    </tr>
                    <tr>
                        <td>
                            <button type="submit">Accedi</button>
                        </td>
                    </tr>
                </table>
            </form>
        </section>
     <footer th:replace="fragments/base.html :: fondo"></footer>
    </body>
</html>