<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
	<title>Lista Artisti</title>
	<link rel="stylesheet" th:href="@{/css/home.css}" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Qwigley&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
     <div th:replace="fragments/base.html :: header(home='/default')"></div>
  		 <p>Aggiungi Opera</p>
    <form th:action="@{/admin/opera}" method="POST" th:object="${opera}">
        <table>
            <tr>
                <td th:if="${#fields.hasGlobalErrors()}"></td>
                <td th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</td>
            </tr>
            <tr>
                <td>Titolo:</td>
                <td th:if="${#fields.hasErrors('titolo')}" th:errors="*{titolo}"></td>
                <td><input type="text" placeholder="titolo" required
                th:field="*{titolo}"/></td>
            </tr>
            <tr>
                <td>Anno di realizzazione:</td>
                <td th:if="${#fields.hasErrors('anno')}" th:errors="*{anno}"></td>
                <td><input type="text" placeholder="anno" required
                th:field="*{anno}"/></td>
            </tr>
            <tr>
                <td>Descrizione:</td>
                <td th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"></td>
                <td><input type="text" placeholder="descrizione" required
                th:field="*{descrizione}"/></td>
            </tr>
            <tr>
                <td>ID artista:</td>
                <td th:if="${#fields.hasErrors('artista.id')}" th:errors="*{artista.id}"></td>
                <td><input type="text" placeholder="id artista" required
                th:field="*{artista.id}"/></td>
            </tr>
            <tr>
                <td>
                    <button type="submit">Inserisci</button>
                </td>
            </tr>
        </table>
    </form>
    <div>
    	<h2>Lista artisti con identificatore</h2>
		<ul>
			<li th:each="artista : ${artisti}">
				<p th:text="|${artista.nome} ${artista.cognome}: ${artista.id}|">Nome artista</p>
			</li>
		</ul>
	</div>
    <footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>