<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>OPERA</title>
        <link rel="stylesheet" th:href="@{/css/opera.css}" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Qwigley&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
    <div th:replace="fragments/base.html :: header(home='/default')"></div>
    <div id="pagina">
    	<div>
         <img id="dipinto" th:src="@{/images/{image}(image=${opera.linkFoto})}">
    	</div>
    	<div id="testi">
        <div th:if="${opera}" th:object="${opera}">
            <header><h1 th:text="${opera.titolo}">Nome Opera</h1></header>
            <section id = "left">
                
             </section>
             <section id = "right">
                 <p id="d">Descrizione:</p>
                 <p th:text= "*{descrizione}">descrizione completa</p>
                </section>
        </div>
        <div th:unless="${opera}">Non esiste</div>
    </div>
    </div>
        <footer th:replace="fragments/base.html :: fondo(home='/default')"></footer>
    </body>